// Menu
.ant-menu-item {
    font-size: @fontSizeSM;
}

.ant-dropdown-menu-item {
    font-size: 1.5em !important;
    padding: 18px 16px !important;

}

// form
.ant-form-item-explain.ant-form-item-explain-error {
    font-size: @fontSizeSM;
}

// card
.ant-card {
    width: 100%;
    min-width: 300px;
    max-width: 300px;
    min-height: 425px;
    margin: 5px !important;
    -webkit-box-shadow: 3px 3px 20px -2px @pantone294c;
    box-shadow: 3px 3px 20px -2px @pantone294c;
}

.ant-card-meta-title {
    white-space: initial !important;
}

@media (max-width: @tabletMaxWidth) {
    .ant-menu-item {
        font-size: @fontSizeL;
    }

    .ant-menu-vertical>.ant-menu-item {
        height: 65px !important;
    }

    .ant-menu-vertical {
        padding-top: 20px !important;
    }

    .ant-modal-confirm-btns {
        min-width: 100% !important;

        .ant-btn-primary {
            width: 100% !important;
            min-width: 100% !important;
        }
    }

}
