.text {
    font-size: @fontSizeM;

    &_title {
        color: @pantone294c;
        font-size: @fontSizeXL;
    }

    &_subtitle {
        font-size: @fontSizeL;
    }

    &_m {
        font-size: @fontSizeM;
    }

    &_sm {
        font-size: @fontSizeSM;
    }
}

.spinc {
    &_wrapper {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-content: center;
        align-items: center;
        min-height: 100px;
    }
}


@media (max-width: @tabletMaxWidth) {

    .buttonC {
        width: 100% !important;
    }

    .text {

        &_title {
            color: @pantone294c;
            font-size: @fontSizeM;
        }

        &_subtitle {
            font-size: @fontSizeSM;
        }

        &_m {
            font-size: @fontSizeM;
        }
    }
}
