.burstTable {

    max-width: 500px;
    width: 500px;

    th,
    td {
        text-align: left;
        width: 16.66%;
        max-width: 16.66%;
        min-width: 16.66%;
        padding-left: 10px;
    }
    tr:nth-child(even) {
        background-color: @tableStripBgr;
    }
    tr:hover {
        background-color: @hoverBgr !important;
    }

}
