body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

main {
    overflow-x: hidden;
    padding-bottom: 100px;
    font-size: @fontSizeSM;
    width: 100%;
    max-width: 100%;
}

a {
    color: @pantone294c !important;
}

a:hover {
color: @customBlack !important;
}

.home {
    &_block_wrapper {
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
    }

    &_block {
        margin: 50px 50px  50px 0;
    }

    &_buttons_block {
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        align-items: center;

        min-width: 500px;
        max-width: 500px;
        width: 500px;
    }
}
