.target {
    
    &_m16a2_25m {
        background-size: 150px 230px !important;
        background-position: 190px 106px !important;
        background: url(../img/M16A2_25m_1.svg);
        background-repeat: no-repeat;
    }
}
