
@pantone294c: #002F6C;
@customBlack: black;
@textColorBright: white;

@fontSizeXL: 4em;
@fontSizeL: 3em;
@fontSizeM: 2em;
@fontSizeSM: 1.5em;

@hoverBgr: #d0f0a1;

@tableStripBgr:  #e6f2ff;


// Mobile
@mobileMaxWidth: 767px;
// Tablet
@tabletMinWidth: 768px;
@tabletMaxWidth: 1024px;

// @media (min-width: 768px) and (max-width: 1024px) {}
